
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Nova Tarefa
    </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content class="ion-padding" [fullscreen]="true">
    <form [formGroup]="formGroup">
      <ion-list>
        <ion-item>
          <ion-input label="Motivo: " formControlName="motivo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Valor: " type="number" formControlName="valor"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Desconto: " type="number" formControlName="desconto"></ion-input>%
        </ion-item>
        <ion-list>
          <ion-item>
            <ion-select label="Tipo: " placeholder="Selecionar" formControlName="tipo">
              <ion-select-option *ngFor="let t of tipo" [value]="t">{{t}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-item class="ion-text-center">
          <ion-datetime display-format="DD/MM/YYYY" (ionChange)="setDate()" formControlName="data"></ion-datetime>
        </ion-item>
      </ion-list>
      <ion-alert
        [isOpen]="isAlertOpen"
        header="Alert"
        subHeader="Atenção"
        [message]="message"
        [buttons]="alertButtons"
        (didDismiss)="setOpen(false)"
      ></ion-alert>
    </form>
  </ion-content>

  <ion-footer [translucent]="true">
    <ion-toolbar>
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button (click)="adicionar()">
              <ion-icon name="add"></ion-icon>
            <ion-label>Add</ion-label>
          </ion-tab-button>

          <ion-tab-button (click)="ver()">
              <ion-icon name="eye-outline"></ion-icon>
            <ion-label>Ver</ion-label>
          </ion-tab-button>

          <ion-tab-button (click)="limpar()">
            <ion-icon name="trash-bin-outline"></ion-icon>
            <ion-label>Limpar</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  </ion-footer>

